body {
    margin: 0;
    padding: 0;
}

.map-container {
    width: 100%;
    height: 100%;
    position: absolute;
}
 

.tooltip-title {
    font-weight: 700;
    color: #454648e8;
}

.tooltip-desc {
    font-size: 1.1rem;
    color: #696969;
}

